*{
  margin: 0;
  padding: 0;
}
.hedar-benar{
  background-image: url(../images/Banner\ Image.png);
  width: 1300px;
  height: 600px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/Banner\ Image.png);
}
.benar-title{
  color:#FFFFFF;
  font-size: 32px;
  font-weight: 400;
  opacity: 100%;
}
.benar-discription{
  color:#FFFFFF;
  font-size: 60px;
  font-weight:bold;
}
.benar{
  text-align: center;
  padding-top:200px;
  
}
/* benar2style */

.benar-titl{
  color: #FF0000;
}
.discription{
  color: #FF0000;
  padding: 10px;
}
.benar-2{
  text-align: center;
  margin-top: 40px;
  margin-left: 230px;
  margin-right:230px ;
  margin-top: 30px;
}
/* .65-off{
  width: 800px;
  height: 400px;
} */

/* benar-3 style */

.benar-3{
  width: 1300px;
  height: 600px;
  background-color:#5c5b5e;
  display: flex;
  padding-top: 40px;
  margin-top: 35px;
   background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/Vectorrr.png);
}
.party{
  color: #e0dbdb;
  font-size: 17px;
  padding: 10px;

}
.min{
  padding: 30px 130px 30px 130px;

}
.btn{
  background-color:#FF0000;
  color: rgb(239, 235, 235);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* about */

.about-section{
  text-align: center;
  padding-top: 150px;
  margin-top: 30px;
}
.rong{
  color: #FF0000;
}
.about{
  width: 1300px;
  height: 400px;
  background-color: #f8d3d3;
}
.place{
 padding-top: 10px;
 padding-bottom: 10px;
}
.btnn{
  margin-top: 10px;
}

/* ofer section */

.offer-section{
  width: 1300px;
  height: 460px;
  background-color: #f8e9e9;
}
.offer{
  width: 430px;
  height: 130px;
  padding: 100px 20px 100px 20px;
}
.mahit{
  color: #FF0000;
}
.offer-img{
  width: 430px;
  height: 130px;
  padding: 60px 20px 60px 20px;
}
.group{
  border: 12px solid #FF0000;
  border-radius: 1850px;
}
.mim{
  color: #FF0000;
  font-size: 27px;
  padding-bottom: 10px;
}
.grop{
  width: 140px;
  height: 140px;
  padding-top:30px;
}
.offer-section{
  display: flex;
  margin-top: 30px;
}
.last{
  width: 430px;
  height: 130px;
  padding: 60px 20px 60px 20px;

}
.part{
  color: rgb(15, 15, 15);
}
.mahit-title{
  padding-top: 10px;
  padding-bottom: 10px;
}
/* holiday-section */

.holiday-section{
  width: 1300px;
  height: 600px;
  margin-top: 30px;
  background-color: #f8d3d3;
  
}
.holiday{
  text-align: center;
  width: 500px;
  height: 250px;
  padding-left: 340px;
  padding-top: 50px;
}
.holiday-img{
  width: 206px;
  height: 206px;
}
.hol-img{
  width: 280px;
  height: 280px;
}
.holi-img{
  display:flex;
  justify-content: space-around;
  padding: 0;
  padding-top: 0;
}

/* awosom section */

.awosom{
  width: 1300px;
  height: 800px;
  margin-top: 40px;
  background-color: #f8e9e9;
}
.awosom-div{
  text-align: center;
  padding-top: 30px;
}
.pic{
  width: 300px;
  height: 320px;
  padding:8px;
  padding-left:90px;
}
/* newsleter section */
.newsleter{
  width: 1300px;
  height: 616px;
  margin-top: 30px;
  background-color: rgba(255, 0, 0, 0.05);
}
.news{
  width: 890px;
  height: 336px;
  text-align: center;
  padding-left: 180px;
  padding-top: 30px;
}
.news-pic{
  width: 130px;
  height: 130px;
}
.subscribe-box{
  display: flex;
  width: 400px;
  border: 2px solid #2b6cb0;
  border-radius: 30px;
  overflow: hidden;
  margin-left: 385px;
}

.subscribe-box input{
  flex: 1;
  padding: 12px 15px;
  border: none;
  outline: none;
  font-size: 14px;
}

.subscribe-box button{
  background: red;
  color: white;
  border: none;
  padding: 0 25px;
  font-weight: bold;
  cursor: pointer;
}
